<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%=4 + 5 + 1%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi
      sed eos repellat incidunt vitae explicabo reiciendis consectetur. Ea rem
      temporibus molestiae sint nihil officiis et tempora fuga reiciendis nobis?
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae voluptas
      qui itaque maxime veritatis earum ex. Architecto placeat fuga commodi odio
      cupiditate rem amet pariatur sequi dignissimos eveniet. Molestias,
      deleniti.
    </p>
  </body>
</html>
