<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <!-- <h1>Random Number<%= Math.floor(Math.random() * 10) + 1%></h1> -->
    <h1>Random Number <%= rand%></h1>
    <% if (rand % 2 === 0) { %>
        <h2>Even Number</h2>
    <% } %>
</body>
</html>