body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: black;
    width: 90%; 
    height: 500px;
    margin: 0 auto;
    border: 5px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    align-content: center;
}

#container div {
    color: whitesmoke; 
    /* width: 200px;
    height: 150px; */
    font-size: 4em;
    text-align: center;
    flex-basis: 200px; 
}

div:nth-of-type(1){
    flex-grow : flex-start;
}

h2 {
    text-align: center;
}
main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: purple;
    border: 2px solid white;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: aquamarine;
    flex: 2 1 400px;
}